@using MudBlazor
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="d-flex flex-column align-items-center">
        <MudButton href="" Variant="Variant.Filled" Disabled=true Class="w-100">
            <div class="d-flex flex-column menu-button align-items-center p-4">
                <div class="mx-auto"><MudIcon Icon="@Icons.Material.Filled.Computer"></MudIcon></div>
            </div>
        </MudButton>
        <MudButton href="users" Variant="Variant.Filled" Class="w-100">
            <div class="d-flex flex-column menu-button align-items-center">
                <div class="mx-auto m-2"><MudIcon Icon="@Icons.Material.Filled.Star"></MudIcon></div>
                <div class="mx-auto m-2">Zakładka 1</div>
            </div>
        </MudButton>
        <MudButton Variant="Variant.Filled" Disabled=true Class="w-100">
            <div class="d-flex flex-column menu-button align-items-center">
                <div class="mx-auto m-2"><MudIcon Icon="@Icons.Material.Filled.Star"></MudIcon></div>
                <div class="mx-auto m-2">Zakładka 2</div>
            </div>
        </MudButton>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
