################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorRecruitmentTask/.vs/BlazorRecruitmentTask/v17
/BlazorRecruitmentTask/obj
