################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorRecruitmentTask/obj
/BlazorRecruitmentTask/.vs
/BlazorRecruitmentTask/bin/Debug/net7.0
/BlazorRecruitmentTask/bin/Release/net7.0
