@using BlazorRecruitmentTask.Data
@using MudBlazor

<div class="component-container">
    <h3>Użytkownicy</h3>
    <MudDropZone T="User" Identifier="@UserService.UnasssignedUsersGroup" AllowReorder=true Class="user-list mt-6">
    </MudDropZone>
</div>

