@using BlazorRecruitmentTask.Data
@inject UserService userService

<h3>Użytkownicy</h3>
@if (users == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    @foreach (var user in users)
    {
        <div>TODO</div>
    }
}

@code {
    private User[]? users = null;
    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetUsersAsync();
    }
}

