body {
}

.user {
    width: 128px;
    height: 180px;
    max-height: 180px;
    background-color: #ffffff;
    margin-right: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #000;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
}



.main-user-data {
    flex-grow: 1;
}

.city {
    bottom: 0px;
    width: 100%;
    background-color: #6bc79d;
    display: flex;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: .75em;
}