@using BlazorRecruitmentTask.Models
@using BlazorRecruitmentTask.Services
@using MudBlazor

<div class="component-container">
    <h3>Użytkownicy</h3>
    <MudDropZone T="UserModel" Identifier="@UserService.UnasssignedUsersGroup" AllowReorder=true Class="user-list mt-6">
    </MudDropZone>
</div>

