@using BlazorRecruitmentTask.Models
@using BlazorRecruitmentTask.Services
@using MudBlazor
@inject UserService userService

<div class="component-container">
    <div class="groups-container d-flex flex-row mb-6 align-items-start">
        @foreach (var group in userService.Groups)
        {
            <MudButton Variant="Variant.Filled" OnClick="() => {selectedGroup = group; StateHasChanged();}" Class="@GetGroupButtonClass(group)">
                <div class="d-flex flex-row align-items-center"><MudIcon Icon="@group.Icon()" Size="Size.Small"></MudIcon> @group.Name</div>
            </MudButton>
        }
    </div>
    @if (selectedGroup != null) {
        <MudDropZone T="UserModel" Identifier="@selectedGroup.Identifier" Class="user-list" AllowReorder=true>
        </MudDropZone>
    }
</div>


@code {


    private UserGroupModel? selectedGroup;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        selectedGroup = userService.Groups[0];
    }

    private string GetGroupButtonClass(UserGroupModel group) => selectedGroup == group ? "group-button selected" : "group-button";
}
