@page "/users"
@using BlazorRecruitmentTask.Components

<PageTitle>Użytkownicy</PageTitle>

<div class="row">
    <div class="col-md-3">
        <UserList></UserList>
    </div>
    <div class="col-md-9">
        <UserGroups></UserGroups>
    </div>
</div>