
.user {
    width: 128px;
    height: 180px;
    max-height: 180px;
    background-color: #ffffff;
    margin-right: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #000;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
}



.main-user-data {
    flex-grow: 1;
}

.city {
    bottom: 0px;
    width: 100%;
    background-color: #32293f;
    color: #fff;
    display: flex;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: .75em;
}

.selected .city {
    background-color: #6bc79d;
    color: #000;
}

.user-dragging {

}

@keyframes bounce {
    0% {
        transform: scale(1.2);
    }

    30% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.user-dropped {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: bounce;
}
